<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label</key>
	<dict>
		<key>light</key>
		<string>#AA0000</string>
	</dict>
	<key>view</key>
	<dict>
		<key>bg</key>
		<string>#FF0000</string>
		<key>bt_n</key>
		<string>#FF0000</string>
		<key>bt_h</key>
		<string>#EE0000</string>
	</dict>
</dict>
</plist>
